# Directories
/.idea/
/.kdev4/
/.vscode/
/bin/
/cmake-build-debug/
/Debug/
/Release/
/x64/

# File Extensions
*.com
*.class
*.dll
*.exe
*.kdev4
*.o
*.out
*.so
*.swo
*.swp

# Specific Files
._*
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
CMakeLists.txt
Thumbs.db